
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.full {
    width: 50%;
    max-width: 1000px;
    min-height: 900px;
    background-color: aqua;
    margin: 0px;
    display: grid;
    grid-template-columns: 2fr 4fr;
}
.left {
position: initial;
background-color: blueviolet;
padding: 20px;
}
.right {
        position: absolute;
        top: 100px;
       right:0px;
       width:350px;
        margin-right: 390px;
    
    }

    .image, .contact, skills, .Language, .Hobbies, .title, .Summary, .Experience, .project {
          margin-bottom: 30px;
    }
    .Education{
     word-spacing: 25px;
    }
    .h2 {
        background-color: rgb(4,96,150);
    }
